/*
*The code below customizes the way testimonials are displayed.
*We gave the testimonials a reasonable font size, made our quote icon appear at a good size and also adjusted padding around content to look appropriate on any theme.
*/
.testimonial {
	font-size: 14px;
}

.testimonial .quote {
	position: absolute;
	line-height: 1;
	font-size: 25px;
}

div.entry-content {
	padding-right: 0;
	padding-left: 40px;
}